In [6]:
import pandas as pd
import joblib

In [3]:
df=pd.read_csv('dataset/kodePos.csv')
df.head()

  province    city      district    subdistrict  postal_code
0     bali  badung  kuta selatan        ungasan        80361
1     bali  badung          kuta          tuban        80361
2     bali  badung    kuta utara     tibubeneng        80361
3     bali  badung  kuta selatan  tanjung benoa        80361
4     bali  badung          kuta         legian        80361

In [5]:
provinsi=[]
kabupaten=[]
kecamatan=[]

for x in range(len(df)):
    if(df.iloc[x,0] not in provinsi):
        provinsi.append(df.iloc[x,0])
    if(df.iloc[x,1] not in kabupaten):
        kabupaten.append(df.iloc[x,1])
    if(df.iloc[x,2] not in kecamatan):
        kecamatan.append(df.iloc[x,2])

print(len(provinsi),len(kabupaten),len(kecamatan))

34 474 6642

In [7]:
joblib.dump(provinsi, "dataset/modelLokasi/provinsi.pkl")
joblib.dump(kabupaten, "dataset/modelLokasi/kabupaten.pkl")
joblib.dump(kecamatan, "dataset/modelLokasi/kecamatan.pkl")

['dataset/modelLokasi/kecamatan.pkl']